# UE4 Starter Content
Content/StarterContent

### UE Marketplace & other Asset Packs ###

# https://www.unrealengine.com/marketplace/en-US/product/paragon-crunch
Content/ParagonCrunch
# https://www.unrealengine.com/marketplace/en-US/product/paragon-gadget
Content/ParagonGadget
# https://www.unrealengine.com/marketplace/en-US/product/paragon-grim-exe
Content/ParagonGRIMexe
# https://www.unrealengine.com/marketplace/en-US/product/paragon-lt-belica
Content/ParagonLtBelica
# https://www.unrealengine.com/marketplace/en-US/product/paragon-muriel
Content/ParagonMuriel
# https://www.unrealengine.com/marketplace/en-US/product/paragon-wraith
Content/ParagonWraith

# Modular SciFi: Engineer Interiors
# https://www.unrealengine.com/marketplace/en-US/product/modular-scifi-engineer-interiors
Content/ModSciInteriors

# Modular SciFi: Engineer Hallways
# https://www.unrealengine.com/marketplace/en-US/product/modular-scifi-engineer-hallways
Content/ModSci_Engineer

# Modular SciFi Engineer Props
# https://www.unrealengine.com/marketplace/en-US/product/modular-scifi-engineer-props
Content/ModSci_EngiProps

# Spaceship Interior Environment Set
# https://www.unrealengine.com/marketplace/en-US/product/spaceship-interior-environment-set
Content/SpaceshipInterior

# Modular SciFi Season 1 Starter Bundle
# https://www.unrealengine.com/marketplace/en-US/product/modular-scifi-season-1-starter-bundle
Content/StarterBundle

# Modular Scifi Season 2 Starter Bundle
# https://www.unrealengine.com/marketplace/en-US/product/modular-scifi-season-2-starter-bundle
Content/StarterBundle

# Scifi Hallway
# https://www.unrealengine.com/marketplace/en-US/product/scifi-hallway
# note: cannot add directly to project. Create ScifiHallway project and bring in it's 'Content' folder
Content/ScifiHallway

# Factory Environment Collection
# https://www.unrealengine.com/marketplace/en-US/product/factory-environment-collection
# note: cannot add directly to project. Create FactoryEnvironmentCollect project and bring in it's 'Content' folder
Content/FactoryEnvironmentCollect

# Mediterranean Vegetation: Plant Pack I
# https://www.unrealengine.com/marketplace/en-US/product/mediterranean-vegetation-plant-pack-i
Content/PN_mediterraneanPlants_I

# Mediterranean Vegetation: Plant Pack II
# https://www.unrealengine.com/marketplace/en-US/product/mediterranean-vegetation-plant-pack-ii
Content/PN_mediterraneanPlants_II

# tropical Vegetation: Pandanus Plants
https://www.unrealengine.com/marketplace/en-US/product/tropical-vegetation-pandanus-plants
Content/PN_Pandanus


# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/*
Plugins/*/Binaries/*

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Configuration files generated by the Editor
Saved/*

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*